* {
	box-sizing: border-box;
}


.wrapper{
    
    display: flex;
    width: 100px;
     
}

/*Light-theme*/

.light-theme {
	background-color: #fafafa; 
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1; 
}

.conteiner {
	max-width: 1110px;
	margin-left: auto;
	margin-right: auto; 
}

.light-theme .header {
	background-color: #ffffff;
	height: 110px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
	margin-bottom: 30px;
}

.header__container {
	max-width: 1110px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 23px;
	padding-right: 41px;   
	padding-top: 30px;
}	


.light-theme .header__logo {
	color: #4d4d4d;
	font-size: 22px;
	font-weight: 900;
	line-height: 1;
	letter-spacing: 1.76px;
}

.light-theme .header__search {
	width: 468px;
	height: 50px;
	border-radius: 4px;
	border: 2px solid #f5f5f5;
	display: flex;
	align-items: center;
}

.header__search-input-wrapper{
	width: 428px;
	display: flex;
	align-items: center; 
	float: left;
	position: relative;
}

.light-theme .header__search-input{
	height: 46px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border: 0;
	outline: none;
	color: #535353;
	font-family: 'Roboto' sans-serif;
	font-size: 14px;
	background: transparent;
}

.header__search-button {
	outline: none;
	background-color: transparent;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.light-theme .header-link {
	display: flex;
	align-items: center;
	text-decoration: none;	
	color: #808080;
	cursor: pointer;
	margin-right: 35px; 
}

.header-link__icon {
	width: 21px;
	height: 21px;
	margin-right: 5px; 
}


.header-link__text {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
}

.header__links {
	display: flex;
	justify-content: space-between;	
}

.theme-button {
	height: 30px;
	width: 106px;
	outline: none;
	color: thistle;
	display: flex;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	background-color: #3f4040;
}

/* Switch 3 Specific Style Start */

.box_3{
	background: transparent;
	height: 100px;
	height: 50px
}

.toggle_switch{
  width: 55px;
  height: 45px;
  position: relative;
}

input[type="checkbox"].switch_3{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: 0;
  z-index: 1;
}

svg.checkbox .outer-ring{
  stroke-dasharray: 375;
  stroke-dashoffset: 375;
  -webkit-animation: resetRing .35s ease-in-out forwards;
          animation: resetRing .35s ease-in-out forwards;
}

input[type="checkbox"].switch_3:checked + svg.checkbox .outer-ring{
  -webkit-animation: animateRing .35s ease-in-out forwards;
          animation: animateRing .35s ease-in-out forwards;
}

input[type="checkbox"].switch_3:checked + svg.checkbox .is_checked{
  opacity: 1;
  -webkit-transform: translateX(0) rotate(0deg);
          transform: translateX(0) rotate(0deg);
}

input[type="checkbox"].switch_3:checked + svg.checkbox .is_unchecked{
  opacity: 0;
  -webkit-transform: translateX(-200%) rotate(180deg);
          transform: translateX(-200%) rotate(180deg);
}


svg.checkbox{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg.checkbox .is_checked{
  opacity: 0;
  fill: #fff;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translateX(200%) rotate(45deg);
          transform: translateX(200%) rotate(45deg);
  -webkit-transition: all .35s;
  transition: all .35s;
}

svg.checkbox .is_unchecked{
  opacity: 1;
  fill: yellow;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translateX(0) rotate(0deg);
          transform: translateX(0) rotate(0deg);
  -webkit-transition: all .35s;
  transition: all .35s;
}

@-webkit-keyframes animateRing{
  to{
    stroke-dashoffset: 0;
    stroke: #535353;
  }
}

@keyframes animateRing{
  to{
    stroke-dashoffset: 0;
    stroke: #535353;
  }
}

@-webkit-keyframes resetRing{
  to{
    stroke-dashoffset: 0;
    stroke: #233043;
  }
}

@keyframes resetRing{
  to{
    stroke-dashoffset: 0;
    stroke: #233043;
  }
}

/* Switch 3 Specific Style End */




/* Checked State */
.input_wrapper input[type="checkbox"]:checked{
  background: #23da87;
}

.input_wrapper input[type="checkbox"]:checked:after{
  left: calc(100% - 37px);
}

.input_wrapper input[type="checkbox"]:checked + .is_checked{
  -webkit-transform: translateX(0) translateY(-30%) scale(1);
          transform: translateX(0) translateY(-30%) scale(1);
}

.input_wrapper input[type="checkbox"]:checked ~ .is_unchecked{
  -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
          transform: translateX(-190%) translateY(-30%) scale(0);
}

.carousel-section {
	margin-bottom: 30px;
}

.carousel__item-one {
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 560px;
	background-image: url("./../img/images/slide-01.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 11px; 
	background-image: linear-gradient (to top, rgba (0,0,0, 0.2) 0%, rgba (0,0,0,0) 100%);
}

.carousel__item-two {
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 560px;
	background-image: url("./../img/images/slide-02.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 11px; 
	background-image: linear-gradient (to top, rgba (0,0,0, 0.2) 0%, rgba (0,0,0,0) 100%);
}

.carousel__item-three {
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 560px;
	background-image: url("./../img/images/slide-03.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 11px; 
	background-image: linear-gradient (to top, rgba (0,0,0, 0.2) 0%, rgba (0,0,0,0) 100%);
}

.carousel__item-title {
	height: 40px;
	margin-bottom: 60px;
	color: #ffffff;
	font-size: 38px;
	font-weight: 300;
	line-height: 1;
}

.carousel__item-text {
	height: 250px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 18px;
	font-weight: 500;
	line-height: 2.14;
}

.categories-sections {

}

.light-theme .categories-sections__title {
	color: #4d4d4d;
	font-size: 38px;
	font-weight: 900;
	text-align: center;
	height: 80px;
}
S
.categories-sections__row {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

.categories-sections__roww {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

.light-theme .categories-sections__col {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  	position: relative;
  	width: 350px;
  	height: 197px;
  	border-radius: 11px;
}

.categories-sections__col:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.categories-sections__col img {
  width: 100%;
  height: auto;
  border-radius: 11px;
}

.categories-sections__col .btn  {
	width: 350px;
 	height: 197px;
  	outline: none;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	transition: .3s ease-in-out;
  	-ms-transform: translate(-50%, -50%);
  	background-color: rgba(192, 192, 192, 0.5);
  	color: #fff;
  	font-size: 26px;
  	padding: 22px 34px;
  	border: none;
  	cursor: pointer;
  	border-radius: 11px;
  	text-decoration: none;
}

.categories-sections__col .btn:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.light-theme .categories-sections__link {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
}

.light-theme .popular-sections__title {
	margin-top: 30px;
	color: #4d4d4d;
	font-size: 38px;
	font-weight: 900;
	text-align: center;
	height: 80px;
}

.popular-sections__row {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

/*
.popular-sections__button {
	border: none;
  	outline: none;
  	text-decoration: none;
  	padding: 12px;
  	
  	background-color: ;
  	text-align: center;
  	cursor: pointer;
  	width: 100%;
  	font-size: 18px;
  	border-radius: 11px;
}

*/
.contact-inform-sections__title {
	margin-top: 30px;
	color: #4d4d4d;
	font-size: 38px;
	font-weight: 900;
	text-align: center;
	height: 80px;
}


.light-theme .popular-sections__col {
	height: 470px;
	width: 250px;
	margin: auto;
	text-align: center;
	font-family: Roboto;
	border-radius: 11px; 
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  	position: relative;
}

.light-theme .popular-sections__col:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.popular-sections__pict {
	height: 280px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

.popular-sections__h {
	padding-top: 40px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: Roboto;
	color: #4d4d4d;
}

.popular-sections__price {
	color: grey;
  	font-size: 22px;
  	margin-bottom: 11px; 
  	padding-top: 20px;
}

.light-theme .popular-sections__link {
	text-decoration: none;
	color: #fff;
}

.light-theme .popular-sections__button {
	border: none;
	outline: none;
	text-decoration: none;
	text-align: center;
	background-color: #dadada;
	font-size: 16px;
	font-family: Roboto;
	padding: 11px;
	border-radius: 10px;
	cursor: pointer;
}

.popular-sections__button:hover {
	box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
	background-color: #696464;
}

.light-theme .info-sections__title {
	margin-top: 30px;
	color: #4d4d4d;
	font-size: 38px;
	font-weight: 900;
	text-align: center;
	height: 80px;
}

.info-sections__row {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

.light-theme .info-sections__col__text {
	color:  #808080;
	padding: 25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  	position: relative;
  	width: 540px;
  	height: 300px;
	 border-radius: 11px;
	background-color: transparent;
	text-align: center;
}


.light-theme .info-sections__col {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  	position: relative;
  	width: 540px;
  	height: 300px;
  	border-radius: 11px;
}


.light-theme .contactinform-sections__title {
	margin-bottom: 20px;
	margin-top: 30px;
	color: #4d4d4d;
	font-size: 38px;
	font-weight: 900;
	text-align: center;
	height: 50px;
}

.header__logo-link {
	text-decoration: none;
	color: #4d4d4d;
	font-size: 22px;
	font-weight: 900;
	line-height: 1;
	letter-spacing: 1.76px;
}

.top-info-box {
	justify-content: space-between;
	display: flex;
}

.title__box-info-top {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
	color: #4d4d4d;
	font-size: 38px;
	text-transform: uppercase;
}

.light-theme .top-box__one {
	color:  #808080;
	padding: 25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  	position: relative;
  	width: 350px;
  	height: 200px;
	border-radius: 11px;
	background-color: #ff7c7c;
	margin-bottom: 20px;
}

.light-theme .top-box__two {
	color:  #808080;
	padding: 25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  	position: relative;
  	width: 350px;
  	height: 200px;
	border-radius: 11px;
	background-color: #9399ff;
	margin-bottom: 20px;
}

.light-theme .top-box__three {
	color:  #808080;
	padding: 25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  	position: relative;
  	width: 350px;
  	height: 200px;
	border-radius: 11px;
	background-color: #ffe75e;
	margin-bottom: 20px;
}


.title-top-box {
	text-align: center;
	font-size: 3em;
	margin-bottom: 25px;
}

.text__top-box {
	text-align: center;
}

.title__icon-card {
	text-align: center;
	font-size: 1.5em;
}





/*
.contactinform-sections__roww {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

.contactinform-sections__coll {
	background-color: red;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  	position: relative;
  	width: 100%;
  	height: 400px;
  	border-radius: 11px;
}*/

.contact__wrapper {
	width: 753px;
	margin: 0 auto;
	color: #636363;
}

.form__inputs {
	display: flex;
}

input:first-of-type {
	margin-right: 32px;
}

textarea {
	width: 100%;
	height: 163px;
	resize: none;
	font-size: 20px;
	margin-bottom: 30px;
	border-radius: 6px;
	border: 2px solid #f5f5f5;
	padding-left: 20px;
	padding-right: 20px;
	outline: none;
	color: #535353;
	font-family: 'Roboto' sans-serif;
	font-size: 14px;
}

.contact__inputs, textarea {
	border: 1px solid #999999;
	margin-top: 7px;
}

.contact__inputs {
	width: 360px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 30px;
	border-radius: 6px;
	border: 2px solid #f5f5f5;
	padding-left: 20px;
	padding-right: 20px;
	outline: none;
	color: #535353;
	font-family: 'Roboto' sans-serif;
	font-size: 14px;
}

.button__block {
	display: flex;
	justify-content: flex-end;
}

.contact__inputs[type=submit] {
	cursor: pointer;
	width: 165px;
	height: 40px;
	background-color: rosybrown;
	color: white;
	margin-right: 0;
	margin-top: 20px;
	border: none;
}

.contact__inputs[type=submit]:hover {
	box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
}

.contact-sections__text {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  	position: relative;
  	width: 540px;
  	height: 300px;
	border-radius: 11px;
	margin-bottom: 40px;
	background-color: #fff1e9;
}

.contact-sections__map {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  	position: relative;
  	width: 540px;
  	height: 300px;
	border-radius: 11px;
	margin-bottom: 40px;
}

.contact-sections__row {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

li {
	display: list-item;
}

.contact-sections__info-text li {
	margin-top: 25px;
	padding: auto 10px;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	margin-bottom: 13px;
	color: #636363;
	font-size: 1em;
}

.contact-sections__info-text a {
	margin-top: 25px;
	padding: auto 10px;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	margin-bottom: 13px;
	color: #323232;
	font-size: 1em;
}

.contact-sections__info-text a:hover {
	font-size: 0.9em;
	color: #a6b1e1;
}

.social__title {
	padding: auto;
	text-align: center;
	margin-top: 25px;
	margin-left: 33px;
	color: #636363;
	font-size: 1em;
	font-weight: bold;
}

.social-icon {
	text-align: center;
	color: #323232 ;
}

.social-icon ul {
    list-style: none;
    margin-top: 10px;
} 

.social-icon ul li {
    width: 40px;
    height: 30px;
    background: transparent;
	border: none;
	display: inline-block;
	cursor: pointer;
}

.contact__icon {
	margin-top: auto;
	font-size: 1.7em;
}

.contact__icon:hover {
	font-size: 1.5em;
	color: #a6b1e1;
}

footer {
	width: 100%;
	height: 90px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto; 
	box-shadow: 0 0 10px 0  rgba(0, 0, 0, 0.08);
	right: 0;
    top: 0;
}

.footer__social-box {
	width: 1110px;
    color: #000;
    font-size: 12px;
    position: absolute;
}

.footer__social-boxx {
	width: 1110px;
    color: #000;
    font-size: 12px;
    position: absolute;
}

.footer__social-boxxx {
	width: 1110px;
    color: #000;
    font-size: 12px;
    position: absolute;
}

.footer__social-boox {
	width: 1110px;
    color: #000;
    font-size: 12px;
	position: absolute;
}

.footer__social__title {
	font-size: 1.6em;
	text-align: left;
	margin-top: 18px;
	font-weight: bold;
}

.footer__social-icon {
	text-align: left;
	color: #323232;
	left: 20%;
	position: absolute;
	margin-top: 15px;
}

.footer__social-icon ul {
    list-style: none;
	margin-top: 0;
} 

.footer__social-icon ul li {
    width: 40px;
    height: 30px;
    background: transparent;
	border: none;
	display: inline-block;
	cursor: pointer;
}

.footer__icon {
	margin-top: 0;
	font-size: 2em;
}

.footer__icon:hover {
	font-size: 1.7em;
	color: #a6b1e1;
}

.subscription {
	text-align: center;
	color: #323232;
	
	position: absolute;
	margin-top: 15px;
}

.subscription-label {

}

.subscription-email {
	width: 360px;
	height: 40px;
	font-size: 20px;
	position: absolute;
	border-radius: 6px;
	border: 2px solid #f5f5f5;
	padding-left: 20px;
	padding-right: 20px;
	outline: none;
	color: #535353;
	font-family: 'Roboto' sans-serif;
	font-size: 14px;
}

.subscription-button {
	outline: none;
	background-color: transparent;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

/*OwlCarousel*/
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
	text-align: center;
  	-webkit-tap-highlight-color: transparent; 
	position: absolute;
	bottom: 50px;
}
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }
/*//OwlCarousel*/

/*shop-page-categories*/

.section {
	padding: 50px 0;
}

@media(max-width: 576px) {
	.section {
		padding: 30px 0;
	}
}

.categories__header {
	margin-bottom: 90px;
}
@media(max-width: 576px) {
	
.light-theme .categories-sections__title {
	font-size: 32px;
}
}

.catalog__nav {
	display: flex;
	justify-content: center;
}

.catalog-nav__wrapper {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.1);
	border-radius: 8px;
	overflow: hidden;
}

.catalog-nav__button {
	padding: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	padding: 14px;
	min-width: 150px;
	font-size: 18px;
	font-family: Roboto;
	color:  #808080;
	transition: background .2s, color .2s;
	outline: none;
}

.catalog-nav__button:hover {
	background-color: #4d4d4d;
	color: #fff;
}

.catalog-nav__button.is-active {
	background: #4d4d4d;
	color: #fff;
}
@media(max-width: 900px) {
	.catalog__nav {
		width: 1000px;
		max-width: 100%;
		margin: 0 auto;
	}

	.catalog-nav__wrapper {
		flex-wrap: wrap;
	}

	.catalog-nav__item {
		width: 50%;
		flex-grow: 1;
	}

	.catalog-nav__button {
		min-width: 0;
		width: 100%;

	}
}

.catalog {
	display: flex;
	flex-wrap: wrap;
}

.catalog__item {
	width: calc(100% / 3);
	margin-bottom: 90px;
}

.product__img {
	height: 320px;
	width: 250px;
	display: block;
	margin: 0 auto 15px;
}

.product__title {
	margin: 0 0 5px;
	font-family:  Roboto;
	font-size: 20px;
}

.product__description {
	margin: 0;
	color: #9f9f9f;
}
 
.product__content {
	margin-bottom: 25px;
}

.product__price {
	font-family: Roboto;
	font-size: 20px;
	font-weight: 900;
}

.product__button {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button__product {
	box-shadow: none;
	background: ;
}








/*Dark-theme*/

.dark-theme {
	background-color: #333030; 
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1; 
}

.conteiner {
	max-width: 1110px;
	margin-left: auto;
	margin-right: auto; 
}

.dark-theme .header {
	background-color: #333030;
	height: 110px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	margin-bottom: 30px;
}

.header__container {
	max-width: 1110px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 23px;
	padding-right: 41px;   
	padding-top: 30px;
}	


.dark-theme .header__logo {
	color: #8b8687;
	font-size: 22px;
	font-weight: 900;
	line-height: 1;
	letter-spacing: 1.76px;
}

.dark-theme .header__search {
	width: 468px;
	height: 50px;
	border-radius: 4px;
	border: 2px solid #8b8687;
	display: flex;
	align-items: center;
	background-color: #333030;
}

.header__search-input-wrapper{
	width: 428px;
	display: flex;
	align-items: center; 
}

.dark-theme .header__search-input{
	height: 46px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	outline: none;
	color: #8b8687;
	font-family: 'Roboto' sans-serif;
	font-size: 14px;
	background-color: #333030;
}

.header__search-button {
	outline: none;
	background-color: transparent;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.dark-theme .header-link {
	display: flex;
	align-items: center;
	text-decoration: none;	
	color: #8b8687;
	cursor: pointer;
	margin-right: 35px; 
}

.header-link__icon {
	width: 21px;
	height: 21px;
	margin-right: 5px; 
}


.header-link__text {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
}

.header__links {
	display: flex;
	justify-content: space-between;	
}

.carousel-section {
	margin-bottom: 30px;
}

.carousel__item-one {
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 560px;
	background-image: url("./../img/images/slide-01.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 11px; 
	background-image: linear-gradient (to top, rgba (0,0,0, 0.2) 0%, rgba (0,0,0,0) 100%);
}

.carousel__item-two {
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 560px;
	background-image: url("./../img/images/slide-02.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 11px; 
	background-image: linear-gradient (to top, rgba (0,0,0, 0.2) 0%, rgba (0,0,0,0) 100%);
}

.carousel__item-three {
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 560px;
	background-image: url("./../img/images/slide-03.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 11px; 
	background-image: linear-gradient (to top, rgba (0,0,0, 0.2) 0%, rgba (0,0,0,0) 100%);
}

.carousel__item-title {
	height: 40px;
	margin-bottom: 60px;
	color: #ffffff;
	font-size: 38px;
	font-weight: 300;
	line-height: 1;
}

.carousel__item-text {
	height: 250px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 18px;
	font-weight: 500;
	line-height: 2.14;
}

.categories-sections {

}

.dark-theme .categories-sections__title {
	color: #8b8687;
	font-size: 38px;
	font-weight: 900;
	text-align: center;
	height: 80px;
}

.categories-sections__row {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

.categories-sections__roww {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

.dark-theme .categories-sections__col {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
  	position: relative;
  	width: 350px;
  	height: 197px;
  	border-radius: 11px;
}

.dark-theme .categories-sections__col:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.categories-sections__col img {
  width: 100%;
  height: auto;
  border-radius: 11px;
}

.categories-sections__col .btn  {
	width: 350px;
 	height: 197px;
  	outline: none;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	transition: .3s ease-in-out;
  	-ms-transform: translate(-50%, -50%);
  	background-color: rgba(192, 192, 192, 0.65);
  	color: white;
  	font-size: 26px;
  	padding: 22px 34px;
  	border: none;
  	cursor: pointer;
  	border-radius: 11px;
  	text-decoration: none;
}

.categories-sections__col .btn:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.dark-theme .categories-sections__link {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.dark-theme .popular-sections__title {
	margin-top: 30px;
	color: #8b8687;
	font-size: 38px;
	font-weight: 900;
	text-align: center;
	height: 80px;
}

.popular-sections__row {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

/*
.popular-sections__button {
	border: none;
  	outline: none;
  	text-decoration: none;
  	padding: 12px;
  	
  	background-color: ;
  	text-align: center;
  	cursor: pointer;
  	width: 100%;
  	font-size: 18px;
  	border-radius: 11px;
}

*/
.contact-inform-sections__title {
	margin-top: 30px;
	color: #4d4d4d;
	font-size: 38px;
	font-weight: 900;
	text-align: center;
	height: 80px;
}


.dark-theme .popular-sections__col {
	height: 470px;
	width: 250px;
	margin: auto;
	text-align: center;
	font-family: Roboto;
	border-radius: 11px; 
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
  	position: relative;
}

.dark-theme .popular-sections__col:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.popular-sections__pict {
	height: 280px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

.popular-sections__h {
	padding-top: 40px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: Roboto;
	color: #888888;
}

.popular-sections__price {
	color: grey;
  	font-size: 22px;
  	margin-bottom: 11px; 
  	padding-top: 20px;
}

.dark-theme .popular-sections__link {
	text-decoration: none;
	color: #8b8687;
}

.dark-theme .popular-sections__button {
	border: none;
	outline: none;
	text-decoration: none;
	text-align: center;
	background-color: #3a3535;
	font-size: 16px;
	font-family: Roboto;
	padding: 11px;
	border-radius: 10px;
	cursor: pointer;
}

.popular-sections__button:hover {
	box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
	background-color: #5d5b6a;
}

.dark-theme .info-sections__title {
	margin-top: 30px;
	color: #8b8687;
	font-size: 38px;
	font-weight: 900;
	text-align: center;
	height: 80px;
}

.info-sections__row {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

.dark-theme .info-sections__col__text {
	color:  #8b8687;
	padding: 25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
  	position: relative;
  	width: 540px;
  	height: 300px;
	  border-radius: 11px;
	  background-color: #3f4040;
}

.dark-theme .info-sections__col {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    transition: 0.3s;
  	position: relative;
  	width: 540px;
  	height: 300px;
  	border-radius: 11px;
}
